<nav>
    <div><a href="/">Home</a></div>
    <ul> 
        <li><a href="/about" class="list active">About</a></li>
        <li><a href="/portfolio" class="list">Portofolio</a></li>
        <li><a href="/contact" class="list">Contact</a></li>
    </ul>
</nav>

<h2>About</h2>