<nav>
    <div><a href="/">Home</a></div>
    <ul> 
        <li><a href="/about" class="list">About</a></li>
        <li><a href="/portfolio" class="list">Portofolio</a></li>
        <li><a href="/contact" class="list active">Contact</a></li>
    </ul>
</nav>
<h2>Contact</h2>